@import 'colorvars';
@import 'fontvars';
@import 'mixins';
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');


//Constants
.linebreak {
    margin: 10px 0;
    border:none;
    border-top: 1px solid $gray;
}
.m0 { margin: 0 !important;}
.mb-0 { margin-bottom: 0 !important; }
.mt-0 { margin-top: 0 !important; }
.ml-0 { margin-left: 0 !important; }
.mr-0 { margin-right: 0 !important; }
.p0 { padding: 0 !important;}
.pb-0 { padding-bottom: 0 !important; }
.pt-0 { padding-top: 0 !important; }
.pl-0 { padding-left: 0 !important; }
.pr-0 { padding-right: 0 !important; }
.background--blue { background-color: $blue; }
.background--gray { background-color: $gray; }
.background--lighterGray { background-color: $lighterGray; }
.color--red { color: $red; }
.color--white { color: $white; }
.color--black { color: $black; }
.color--blue { color: $blue; }
.color--lightgray { color: $lightGray; }
.align--right { text-align: right; }
.align--left { text-align: left; }
.align--center { text-align: center; }
.text--uppercase { text-transform: uppercase; }
.section--wrapper { padding: 15px 25px; }
.width--50 {width: 50%; }
.grid--layout { display: grid; }
.grid--3col { grid-template-columns: 33.333% 33.333% 33.333%; }
.grid--2col { grid-template-columns: 50% 50%; }
.section--title,
.enlarge--text { 
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 5px 25px;
    font-family: $heading; 
    font-weight: 700;
    letter-spacing: .05rem;
    margin: 0;
}
.enlarge--abit {
    font-size: 1rem;
}
.enlarge--abitless {
    font-size: .85rem;
}
.with-icon {
    padding-left:  80px;
}
.icon--size { 
    position: relative;
    top: 3px;
    width: 15px;
}
.wrapper {
    font-family: $body;

    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    
	font-size: 62.5%;
	line-height:  62.5%;
    letter-spacing:  62.5%;
}
.round--corner { @include borderRadius(10px);}
.highlighted--box {
    padding:15px 25px; 
    margin-bottom: 10px;
}
.no--icon:before {
    display: none;
}

* {
    margin: 0;
}

p, ul, ol, td {
    font-size: .80rem;
    line-height: 1.2rem;
}
ul li, ol li {
    line-height:  1.2rem;
    li {
        font-size: .7rem;
        line-height: 1rem;
    }
}


/*Header*/
header {
    padding: 15px 25px;
    .branding {
        margin: 0;
        .branding__image {
            display: inline-block;
            width: 250px;
        }
    }
    .pageheading {
        .pageheading__title {
            font-family: $heading; 
            font-size: 2.5rem;
            line-height: 2.5rem;
            letter-spacing: .05rem;
            > span {
                font-size: 1.5rem;
            }
        }
        .pageheading__date,
        .pageheading__details {
            font-family: $body; 
            line-height: normal;
            letter-spacing: .05rem;
        }
        .pageheading__date {
            font-size: .8rem;
        }
        .pageheading__details {
            font-size: .9rem;
        }
        .pageheading__note {
            font-size: .75rem;
        }
    }
}

/*Main*/
.invoice{
    .invoice__details {
        border-bottom: 1px solid $black;
        margin: 15px 0;
        td {
            padding: 2px 15px;
            border: 1px solid $black;
            border-bottom: none;
        }
        td:nth-child(odd) {
            font-weight: bold;
            border-right: none;
        }
    }
    .invoice__payment {
        td:nth-child(odd) {
            font-weight: bold;
        }
        td:nth-child(even) {
            text-align: right;
        }
        tr:last-child {
            td {
                border-top: 1px solid $black;
                font-weight: bold;
            }
        } 
    }
}

.notice{
    .notice__heading {
        border-top: 1px solid $black;
        font-family: $heading;
        font-size: 1rem;
        letter-spacing: .05rem;
        line-height: normal;
        padding-top: 15px;
        margin-bottom: 5px;
    }
    .notice__details {
        font-family: $body;
        font-size: .75rem;
        line-height: 1rem;
        padding-bottom: 15px;
        border-bottom: 1px solid $black;
    }
    .notice__heading,
    .notice__details {
        padding-left:25px;
        padding-right: 25px;
    }
}

.information,
.insurance {
    .information__subtitle,
    .insurance__subtitle {
        font-size: 1rem;
    }   
}

.package__title,
.howtobook__title,
.information__title,
.flight__title,
.hotel__title,
.airport__title,
.insurance__title {
    position: relative;
    &:before{
        content:"";
        position: absolute;
        left: 21px;
        top:-5px;
        @include borderRadius(100%);
        @include makeBorder(4px, solid, $white);
    }
}
.package__title {
    &:before {
        @include sectionTitleIcon(40px, 'icovoucherdetails.png');
    }
}
.howtobook__title {
    &:before {
        @include sectionTitleIcon(40px, 'icohowtobook.png');
    }
}
.information__title {
    &:before {
        @include sectionTitleIcon(40px, 'icoinformation.png');
    }
}
.flight__title {
    &:before {
        @include sectionTitleIcon(40px, 'icoflight.png');
    }
}
.hotel__title {
    &:before {
        @include sectionTitleIcon(40px, 'icohotel.png');
    }
}
.airport__title {
    &:before {
        @include sectionTitleIcon(40px, 'icoairport.png');
    }
}

.insurance {
    .insurance__title {
        &:before {
            @include sectionTitleIcon(40px, 'icoinsurance.png');
        }
    }
    .information__subtitle,
    .insurance__subtitle {
        position: relative;
        &:before {
            content:"";
            position: absolute;
            left: 40px;
            top: 5px;
            height: 25px;
            width: 25px;
            background: url(../images/icoessentia.png) center no-repeat;
            background-size: 100%;
        }
    }
    .insurance__inclusion {
        margin-bottom: 10px;
    }
}

.thankyou {
    display: flex;
    justify-content: space-between;
    .thankyou__details {
        font-size: .75rem;
        padding: 0 25px;
    }
    .thankyou__logo {
        height:  37px;
        margin: 10px 25px;
        width: 150px;
    }
}

.airport {
    .airport__transfers {
        background: url(../images/icoarrows.jpg) 43% top no-repeat;
        margin-bottom: 10px;
        background-size: 50px;
        .airport__name {
            font-size: .75rem;
            line-height:1rem;
        }
    }
}

.hotel {
    .hotel__details {
        position: relative;
        .hotel__dates {
            width: 150px;
            text-align: left;
            &:after {
                display: none !important;
            }
        }
        .hotel__name {
            font-family: $heading;
            color: $black;
            font-size: 1.3rem;
        }
        .hotel__rating {
            width: 65px;
        }
        .hotel__booking {
            position: absolute;
            top: 15px;
            right: 25px;
        }
        .hotel__indetail {
            padding: 10px 0 0;
            display: flex;
            justify-content:space-between;
        }
        .hotel__data {
            position: relative;
            font-size: .75rem;
            &:after {
                content: "";
                position: absolute;
                height: 40px;
                width: 1px;
                background: $gray;
                left: -25px;
                top: 0;
            }
        }
        
    }
}

.flight {
    .flight__airportlocation {
        font-family: $heading;
        color:$black;
        font-size: 1.3rem;
    }
    .flight__indetail{
        padding-top: 0;
        display: flex;
        justify-content: space-between;
    }
    .flight__departure {
        font-size: 1rem;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .with--others {
        width: 25%;
        padding-left: 10px;
        position: relative;
        margin-left: 10px;
        @include boxSizing();
        .flight__airportdetail {
            line-height: .85rem;
            font-size: .65rem;
        }
        .flight__airportlocation {
            font-size: 1rem;
        }
        &:before {
            content: "";
            position: absolute;
            height: 60px;
            width: 2px;
            background: $gray;
            left: 0;
            top: 0;
        }
    }
    .flight__data {
        position: relative;
        font-size: .75rem;
        &:after {
            content: "";
            position: absolute;
            height: 40px;
            width: 1px;
            background: $gray;
            left: -9px;
            top: 0;
        }
    }
}

/*Footer*/
.contact__address {
    color: $lightGray;
    font-size:.7rem;
    line-height: 1rem;
}
.contact__information {
    padding: 15px 0 0;
    display: flex;
    justify-content: space-between;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
html, body {
    width: 210mm;
    height: 297mm;
}
.branding__image {
    margin-top: 15px;
    display: inline-block;
    width: 250px;
}
}